// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.roop1,
.roop2 {
    width: 200px;
}

body {
    padding: 20px;
}

.books-title {
    margin: 0;
}